.DS_Store
*.swp
*.out
*.gch

# REPOS
# https://git.chevro.fr/42-cestoliv/libft/-/tree/main
# https://github.com/MaazBinNaseer/42-LibFt-/tree/main/Libft
# https://github.com/appinha/42cursus-00-Libft/tree/master
# KOREA
# https://dailylifeofdeveloper.tistory.com/72
# https://dailylifeofdeveloper.tistory.com/category/%E2%9E%B0%20%EC%BD%94%EB%94%A9%20%EB%B6%80%ED%8A%B8%EC%BA%A0%ED%94%84/42%20seoul
# https://velog.io/@ljiwoo59/Libft
